@charset "utf-8";

/*

Versão Mobile First - Typical Device Breakpoints

Pequenas Telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes: acima de 1200px

*/

@media screen and (max-width: 600px){

    main{
        background-color: lightcyan;
        background-image: linear-gradient(to bottom,  rgb(155, 26, 95), rgb(236, 112, 178));
        height: 160vh;
        padding-top: 10vh; /*define o espaço da acima da div*/
        padding-bottom: 10vh;
    }

    div{
        background-color: rgba(255, 255, 255, 0.856);
        width: 300px;
        height: 600px;
        margin: auto;
        border-radius: 15px;
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.233);
    }
    
    main > div > img.img1{
        width: 220px;
        padding-left: 14%;
        padding-top: 20%;
    }
    
    main > div > img.img{
        width: 220px;
        padding-left: 14%;
    }
    
    main > div > p{
        text-align: center;
    }
}

