@charset "utf-8";

/*

Versão Mobile First - Typical Device Breakpoints

Pequenas Telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes: acima de 1200px

*/

*{
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 374px) and (max-width: 992px){

    div{
        background-color: rgba(255, 255, 255, 0.856);
        width: 280px;
        height: 452px;
        margin: auto;
        border-radius: 15px;
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.233);
    }
    
    main > div > img.img1{
        width: 215px;
        padding-left: 11%;
        padding-top: 6%;
    }
    
    main > div > img.img{
        width: 215px;
        padding-left: 11%;
    }
    
    main > div > p{
        text-align: center;
    }

    main{
        padding-bottom: 14vh;
    }
}

