@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

main{
    background-color: lightcyan;
    background-image: linear-gradient(to bottom,  rgb(155, 26, 95), rgb(236, 112, 178));
    height: 100vh;
    padding-top: 50vh; /*define o espaço da acima da div*/
}

div{
    background-color: rgba(255, 255, 255, 0.856);
    width: 400px;
    height: 600px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.233);
}

main > div > img.img1{
    width: 250px;
    padding-left: 20%;
    padding-top: 20%;
}

main > div > img.img{
    width: 250px;
    padding-left: 20%;
}

main > div > p{
    text-align: center;
}

main > div > p#text1{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;

    padding-top: 8px;
    color: rgb(155, 26, 95);

}

main > div > p#text2{
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;

    padding-top: 8px;
    color: rgb(155, 26, 95);

}

main > div > p#text3{
    font-size: 16px;
    font-weight: bolder;
    font-family: 'PT Sans', sans-serif;

    padding-top: 8px;
    color: rgb(223, 98, 164);

}

main > div > p#link{
    font-size: 16px;
    font-weight: bolder;
    font-family: 'PT Sans', sans-serif;

    padding-top: 8px;
    color: rgb(33, 184, 108);

}

main > div > p#link > a{
    font-size: 16px;
    font-weight: bolder;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    padding-top: 8px;
    color: rgb(33, 184, 108);

}

main > div > p#link > a:hover{
    color: rgb(3, 85, 44);
}

footer#rodape { 
    background-image: linear-gradient(to top,  #000000, rgb(48, 45, 46));
    color: #ffffff;
    padding: 18px;
    font-size: 16px; 
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
    clear: both;
}

footer#rodape a {
    text-decoration: none;
    color: rgb(155, 26, 95); 
}

footer#rodape a:hover {
    color: rgb(236, 112, 178);
}